annotated-doc==0.0.4
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography==48.0.0
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
httplib2==0.31.2
idna==3.13
markdown-it-py==4.2.0
mdurl==0.1.2
oauthlib==3.3.1
packaging==26.2
proto-plus==1.28.0
protobuf==7.34.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
PyYAML==6.0.3
requests==2.33.1
requests-oauthlib==2.0.0
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
typer==0.25.1
uritemplate==4.2.0
urllib3==2.7.0
wheel==0.47.0
